body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.cabecalho {
  padding: 10px 0;
  text-align: center;
}

.chamada {
  background-color: #2283c9;
  padding: 120px 15px;
}

.chamada h1 {
  margin: 0;
  color: #fff;
  font-size: 54px;
  text-align: center;
}

.imoveis {
  text-align: center;
}

.imoveis article {
  margin: 30px 0;
}

.imoveis article h2 {
  font-size: 20px;
  color: #686868;
  margin-bottom: 25px;
}

.imoveis .botao {
  padding: 10px 15px;
  background-color: #127d00;
  color: #fff;
  text-decoration: none;
}
